body{ 
    background: url(img/car1.jpg) no-repeat center center fixed !important; 
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
}
/*Links que no pierden el href por javascript*/
.confirmarPedido:hover, .calificarPedido:hover, .cancelarPedido:hover{
    cursor: pointer;
    text-shadow: 0 0 10px deepskyblue,
        0 0 5px  deepskyblue,
        0 0 5px deepskyblue,
        0 0 5px  deepskyblue,
        0 0 5px  deepskyblue,
        0 0 5px  deepskyblue,
        0 0 5px deepskyblue,
        0 0 5px deepskyblue!important;
}
/*PANELES*/
.panel-transparent {
    background: none;
}
.panel-transparent .panel-heading{
    background: rgba(122, 130, 136, 0.8)!important;
}
.panel-transparent .panel-body{
    background: rgba(46, 51, 56, 0.8)!important;

}
/*Panel para pedidos*/
.panel-pedido{
    background: none;

}
.panel-pedido .panel-heading{
    background: rgba(20, 20, 20, 0.8)!important;
}
.panel-pedido .panel-body{
    background: rgba(46, 51, 56, 0.8)!important;

}
/*panel por defecto*/
.panel-heading {
    color: white !important;
}
.panel-body{
    color: deepskyblue !important;
}
/*NOTIFICACION*/
#respuesta{
    position: fixed;
    color: white !important;
    background: rgba(122, 130, 136, 0.8)!important;
}
/*BARRA MENU*/
.navbar-static-top{
    background-color: rgba(0,0,0, 0.0)!important;
    border: none;
}
.navbar-brand{    
}
.navbar-brand:link,.navbar-brand:visited{   /*logo por defecto*/
    color: black !important;
    text-shadow: 0 0 10px white,
        0 0 5px  white,
        0 0 5px white,
        0 0 5px   white,
        0 0 5px  white,
        0 0 5px  white,
        0 0 5px white,
        0 0 5px white!important;
}
.navbar-brand:hover, .navbar-brand:active{   /*logo con el raton arriba*/
    color: white !important;
    text-shadow: 0 0 10px black,
        0 0 5px  black,
        0 0 5px black,
        0 0 5px  black,
        0 0 5px  black,
        0 0 5px  black,
        0 0 5px black,
        0 0 5px black!important;
}
#BARRA-QUE-SE-OCULTA li a:link,#BARRA-QUE-SE-OCULTA li a:visited{
    color: black !important;
    text-shadow: 0 0 10px white,
        0 0 5px  white,
        0 0 5px white,
        0 0 5px   white,
        0 0 5px  white,
        0 0 5px  white,
        0 0 5px white,
        0 0 5px white!important;
}
#BARRA-QUE-SE-OCULTA li a:hover,#BARRA-QUE-SE-OCULTAli a:active{
    color: white !important;
    text-shadow: 0 0 10px black,
        0 0 5px  black,
        0 0 5px black,
        0 0 5px  black,
        0 0 5px  black,
        0 0 5px  black,
        0 0 5px black,
        0 0 5px black!important;

}
/*Estilos para la lista*/
.tituloLista{
    color: deepskyblue !important;
    background-color: black !important;
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px; 
}
/*Lista comun*/
.lista1{
    color: white !important;
    background-color: deepskyblue !important;
}
.lista2{
    color:  deepskyblue !important;
    background-color: white!important;
}
/*Lista efecto al pasar por arriba*/
.lista1:hover, .lista1:active,.lista2:hover, .lista2:active{
    color: black !important;
    background-color:  #BABABA !important; 
}
/*Lista comun y visitados*/
.lista1:link, .lista1:visited{
    color: white !important;
    background-color: deepskyblue !important;
}
.lista2:link, .lista2:visited{
    color:  deepskyblue !important;
    background-color: white!important;
}
.lista-num{
    text-align: right;
}
.lista-comun{
    text-align: left;
}
.lista-ultimo{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
/*Modales -ventanas-*/
.modal-transparent {
    background: none;
    border: white 1px;
}
.modal-transparent .modal-header{
    background: rgba(122, 130, 136, 0.9)!important;    
    color:  black !important;
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px; 
}
.modal-transparent .modal-body{
    background: rgba(25,25,25, 0.9)!important;
    color: white !important;
}
.modal-transparent .modal-footer{
    background: rgba(122, 130, 136, 0.9)!important;
    color: white !important;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
/**/
.panel-title a:link,.panel-title a:visited{
    color: deepskyblue !important; 
    text-decoration: none !important;
}
.panel-title a:hover, .panel-title a:active{
    color: white !important;
    text-decoration: none !important;
}
/*Lista restaurantes*/
.listaRestaurante:hover, .listaRestaurante:active{
    color: deepskyblue !important;
}
.listaRestaurante{
    color: white !important;
}
/*lista de pedidos*/
.media-list li, .verCal{
    background: rgba(0,0,0, 0.9);
    border: rgba(25,25,25, 0.8);
    border-radius: 5px 5px 5px 5px;
    border-style: solid ;
    padding: 0px !important;
}
/* -- Productos -- */
.botonListaDetallePromo:hover{
    cursor: pointer;
    text-shadow: 0 0 1px deepskyblue,
        0 0 1px  deepskyblue,
        0 0 1px deepskyblue,
        0 0 1px  deepskyblue,
        0 0 1px  deepskyblue,
        0 0 1px  deepskyblue,
        0 0 1px deepskyblue,
        0 0 1px deepskyblue!important;
}

.lineaCalificacionRestaurante{
    color: black;
    text-shadow: 0 0 10px black!important;
    vertical-align: central;
    background: rgba(225,225,225,0.5);
    margin:2px!important;
    border-radius: 5px 5px 5px 5px;
}
//estos estilos son para hacer que aparesca el mensaje sobre la imagen 
.cambioImagenPerfil {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.cambioImagenPerfil {
    display: inline-block;
    height: 190px;
    margin: 0 1em 1em 0;
    position: relative;
    width: 190px;
}
.spanCambio {
    background: rgba(0,0,0,0.5);
    color: white;
    cursor: pointer;
    display: table;
    height: 190px;
    left: 0;
    position: absolute;
    top: 0;
    width: 150px;
}

.spanCambio span {
    display: table-cell;
    text-align: center;
    font-size: 20px;
    vertical-align: middle;
}
.spanCambio  {
    background: rgba(0,0,0,0.5);
    color: white;
    cursor: pointer;
    display: table;
    height: 190px;
    left: 0;
    position: absolute;
    top: 0;
    width: 190px;
    opacity: 0;
}

.cambioImagenPerfil:hover .spanCambio {
    opacity: 1;
}
.spanCambio  {
    background: rgba(0,0,0,0.5);
    color: white;
    cursor: pointer;
    display: table;
    height: 190px;
    left: 0;
    position: absolute;
    top: 0;
    width: 190px;
    opacity: 0;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
}
/*nubecita pop :v */
.popover-title{
    background-color: black;
    font-size: 18px;
    color:white;
}

.popover{
    max-width: 300px;
    width: 250px; 
    text-align: center;
    margin-bottom: 6px;
    background-color: black;
    font-size: 14px;
    color:white;
    text-shadow: 0 0 10px white!important;
}
/*Estilo para Datos Restaurante*/
.DatosRestaurante{
    padding: 1px;
    border: 1px solid white;
    width:100%;
    height:200px;
    position:relative;
    overflow:hidden;
    box-shadow: inset 10px 10px 50px black,
        inset 10px 10px 50px black,
        inset 10px 10px 50px black,
        inset 10px 10px 50px black; 
    background: gray; /* Old browsers */
    background: -moz-linear-gradient(top, black 0%, gray 50%, black 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,black), color-stop(50%,gray), color-stop(100%,black)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  black 0%, gray 50%, black 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, black 0%, gray 50%, black 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, black 0%, gray 50%, black 100%); /* IE10+ */
    background: linear-gradient(to bottom,black 0%, gray 50%, black 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#140313',GradientType=0 ); /* IE6-9 */

}

.DatosRestaurante .fondo {
    z-index:0; 
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    max-width:100%;
    opacity: 0.5;
    min-height: 100%;
    min-width: 100%;

}
.DatosRestaurante .carousel{
    z-index:1;
    float: left;
    margin: 20px;
}
.DatosRestaurante .info{
    z-index:1;
    float:left;
    position:relative;
    color: black;
    text-shadow: 0 0 5px white,
        0 0 2px  white,
        0 0 2px white,
        0 0 2px white,
        0 0 2px white,
        0 0 2px white,
        0 0 2px white,
        0 0 2px white!important;
}
.DatosRestaurante h1{
    font-style: italic;
    font-family: sans-serif;
}
.DatosRestaurante .info .Estrellas{
    z-index:1;
    text-shadow:0 0 2px white,
        0 0 2px  white,
        0 0 2px white,
        0 0 2px white,
        0 0 2px white,
        0 0 2px white,
        0 0 2px white,
        0 0 2px white!important;
    font-size: 25px;
}
.DatosRestaurante .info .badge{
    z-index:1;
    font-size: 15px!important;
    text-shadow: none;
}
.FotoPerfilRestaurante{
    z-index:1;
    min-height: 150px;
    min-width: 150px;
    width: 150px;
    height: 150px;

}

/*Estilos de Pestañas Restaurante*/
.PestaniasRestaurante .nav-tabs {
    margin: 0;
    padding: 0;
    border: 0;   
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.PestaniasRestaurante .nav-tabs > li > a {
    background: #DADADA;
    border-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: inset 0 -8px 7px -9px rgba(0,0,0,.4),-2px -2px 5px -2px rgba(0,0,0,.4);
}
.PestaniasRestaurante .nav-tabs > li.active > a,
.PestaniasRestaurante .nav-tabs > li.active > a:hover {
    background: #F5F5F5;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: inset 0 0 0 0 rgba(0,0,0,.4),-2px -3px 5px -2px rgba(0,0,0,.4);
}

/*Estilos para productos*/
.LineaProducto{
}
.Producto{
    height: 120px;
    font-family: serif;
    padding: 5px;
}
.Producto .contenedor{
    margin-left: 1px;
    margin-right: 1px;
    height: 100%;
    overflow:hidden;
    border-radius: 5px;
    border: 1px solid black;        
    background: white;
    box-shadow: inset 3px 3px 50px black;
}
.Producto a:hover{
    cursor: pointer;
}
.Producto .contenido{
    height: 100%;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.Producto .contenido img{
    z-index:0; 
    position:absolute;
    top:50%;
    left:50%;
    opacity: 0.2;
    transform: translate(-50%, -55%);
    -webkit-transform: translate(-50%, -55%);
    width:100%;
    min-height: 100%;
} 
.Producto .contenido .nombre{
    margin: 0;
    position: relative;
    z-index:1;
    opacity: 1;
    color: white;
    text-shadow: 0 0 1px black,
        0 0 2px black,
        0 0 2px black,
        0 0 2px black,
        0 0 2px black,
        0 0 2px black,
        0 0 2px black,
        0 0 2px black!important;
}
.Producto .contenido .precio{
    padding:  1px;
    border-bottom: solid 2px black;
    border-radius: 2px;
    position: relative;
    float: right;
    z-index:1;
    opacity: 1;
    color: black;
}
.Producto .contenido .descripcion{
    padding: 5px;
    font-style: oblique;
    margin: 0;
    position: relative;
    z-index:1;
    opacity: 1;
    color: gray;
}
.Producto .contenido .activa{
    padding: 5px;
    margin: 0;
    position: relative;
    z-index:1;
    opacity: 1;
    color: blue;
}
.Producto:hover .contenido img{
    opacity: 0.9;
}
.Producto:hover .contenido .nombre, .Producto:hover .contenido .precio{
    color: black;
    text-shadow: 0 0 5px white,
        0 0 2px  white,
        0 0 2px white,
        0 0 2px white,
        0 0 2px white,
        0 0 2px white,
        0 0 2px white,
        0 0 2px white!important;
}
.Producto:hover .contenido .descripcion, .Producto:hover .contenido .activa{
    color: black;
    text-shadow: 0 0 5px white,
        0 0 2px  white,
        0 0 2px white,
        0 0 2px white,
        0 0 2px white,
        0 0 2px white,
        0 0 2px white,
        0 0 2px white!important;
}
.Producto .controles{
    height: 100%;
    padding: 1px;
    background: white;
    border-bottom: 1px solid white;
    border-top:  1px solid white;
    border-right:  1px solid white;
    overflow:hidden;    
    background: silver;
    border-bottom-right-radius:  5px;
    border-top-right-radius: 5px;
}
.Producto .controles .btn{
    height: 33%;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,silver), color-stop(16%,white),color-stop(84%,white), color-stop(100%,silver)); /* Chrome,Safari4+ */

    border: none;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius:  5px;
    border-top-right-radius: 5px;
    border-top:  solid 1px black;
    border-right:   solid 1px black;
    border-bottom:  solid 1px black;
}
.Producto .controles .number{
    height: 33%;
    text-align: center;
    margin-bottom: 1px;
    margin-top: 1px;
    width: 100%;
    color: black;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,silver), color-stop(16%,white),color-stop(84%,white), color-stop(100%,silver)); /* Chrome,Safari4+ */

    border: none;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius:  5px;
    border-top-right-radius: 5px;
    border-top:  solid 1px black;
    border-right:   solid 1px black;
    border-bottom:  solid 1px black;
}
.Producto .controles .number:hover, .Producto .controles .btn:hover{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,gray),color-stop(40%,silver),color-stop(60%,silver), color-stop(100%,gray)) ;         
}